.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px; // Ajusta el espacio entre tarjetas según necesidad
  width: 100%; // Asegura que el contenedor se ajuste al ancho de la pantalla
  height: 100%; // Ajusta al alto de la pantalla
  max-width: 1680px; // Máximo ancho del contenedor
  margin: auto; // Centra el contenedor horizontalmente
  padding-top: 100px; // Espacio desde el top según el diseño
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(
      2,
      1fr
    ); // Cambia a dos columnas para pantallas pequeñas
  }
}
